@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(107, 187, 189);
}

nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.tictactoeAppContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.tictactoeBoard {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.tictactoeBox {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tictactoeBox:hover {
    background-color: rgb(26, 151, 86);
}

.tictactoeInfoText {
    font-size: 22px;
}

.tictactoeInfo {
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.tictactoeInfo h1 {
    font-size: 2.5rem;
}

.tictactoeImageContainer img {
    width: 0;
    transition: width 1s ease-in-out;
}

.tictactoeBox-top-left {
    border-left: 0;
    border-top: 0;
}

.tictactoeBox-top-center {
    border-top: 0;
}

.tictactoeBox-top-right {
    border-top: 0;
    border-right: 0;
}

.tictactoeBox-middle-left {
    border-left: 0;
}

.tictactoeBox-middle-right {
    border-right: 0;
}

.tictactoeBox-bottom-left {
    border-left: 0;
    border-bottom: 0;
}

.tictactoeBox-bottom-center {
    border-bottom: 0;
}

.tictactoeBox-bottom-right {
    border-right: 0;
    border-bottom: 0;
}

#resetGame {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

.tictactoeLine {
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .tictactoeAppContainer {
        flex-wrap: wrap;
    }
    .tictactoeInfo {
        margin-top: 34px;
    }
    .tictactoeInfo h1 {
        font-size: 1.5rem;
    }
    .tictactoeBoard {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
